@media screen and ((max-width: 810px) or (orientation:portrait)){
  #weather-image{
    display: none;
  }

  #grid{
    height: 100%;
    grid-template-columns: 100%;
  }

  #content{
    max-height: none;
    margin-top: 10%;
    margin-bottom: 5%;
  }
} 

@media screen and (min-height: 800px) and (orientation:portrait){
  #content{
    margin-bottom: 0;
  }
} 

@media screen and (min-height: 940px) and (orientation:portrait){
  #content{
    margin-top: 5%;
    margin-bottom: 0;
  }

  #city{
    font-size: 35px;
  }

  #temp{
    font-size: 150px;
  }

  #weather-details h2{
    font-size: 35px;
  }

  #weather-details h3{
    font-size: 25px;
  }

  #weather-details p{
    font-size: 20px;
  }
} 

@media screen and (max-height: 750px) and (orientation:portrait) {
  #weather-details h2{
    font-size: 20px;
  }
}

@media screen and (max-width: 300px) and (orientation:portrait) {
  #weather-details h2{
    font-size: 15px;
  }

  #weather-details h3{
    font-size: 12px;
  }

  #weather-details p{
    font-size: 11px;
  }
}

/*Adjusting styling for landscape for all phones*/
@media screen and (max-height:630px) and (min-height:310px){
  #weather-image{
    display: none;
  }

  #grid{
    height: 100%;
    grid-template-columns: 100%;
  }

  #content{
    max-height: none;
    margin-top: 2.5%;
    margin-bottom: 0;
  }

  #weather-info{
    height: 100%;
  }
  #city{
    font-size: 12px;
  }

  #temp{
    font-size: 60px;
  }

  #weather-details h2{
    font-size: 14px;
  }

  #weather-details h3{
    font-size: 10px;
  }

  #weather-details p{
    font-size: 10px;
  }
}

@media screen and (max-height:300px){
  #content{
    max-height: none;
    margin-top: 2.5%;
    margin-bottom: 0;
  }

  #weather-info{
    height: 250px;
    grid-template-rows: 1fr 1fr 1fr;
  }
  #city{
    padding-bottom: 0;
    font-size: 10px;
  }

  #temp{
    padding-top: 0;
    font-size: 40px;
  }

  #weather-details h2{
    font-size: 11px;
  }

  #weather-details h3{
    font-size: 10px;
  }

  #weather-details p{
    font-size: 10px;
  }
}