/*Making sure background covers entire page*/
html, body{
  padding: 0;
  margin: 0;
  height: 100%;
  background-image: linear-gradient(#448EE2,skyblue);
}

p,h1{
  padding: 0;
  margin: 0;
}


/*Centering the div and defining its size*/
#content{
  margin-top: 5%;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Creating a grid inside of the flex div */
#grid{
  width: 85%;
  height: 80%;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: auto auto;
  text-align: center;
}

/*Styling the weather info*/
#weather-info{
  color: white;
  background-color: rgba(255,255,255,0.3);
  border-radius: 15px;
  box-shadow: 2px 2px 9px 2px rgba(0,0,0,0.2);
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-rows: 1fr 3fr 4fr;
}

/*Styling for the City text*/
#city{
  padding: 15px 0 10px 0;
  font-size: 20px;
  font-weight: bold;
}

/*Styling for the temp text*/
#temp{
  padding: 10px 0 0 0;
  font-size: 115px;
  font-weight: bold;
}

/*Centering the image*/
#weather-image{
  display:flex;
  justify-content: center;
  align-items: center;
}

/*Defining widths and heights for the image*/
#weather-image img{
  max-width: 400px;
  max-height: 400px;
  width: 80%;
  height: auto;
}

#weather-details{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 98%;
  align-items: center;
}

#weather-details div{
  width: 98%;
  height: 98%;
  background-color: rgba(255,255,255,0.2);
  border-radius: 15px;
  margin-left: 2px;
}

#weather-details h3{
  font-size: 15px;
}

#weather-details h2{
  font-size: 25px;
}

#weather-details p{
  font-size: 14px;
}

#sun h2{
  margin: 0;
  padding: 0;
}

#sunrise{
  margin-bottom: 0;
}

#sunset{
  margin: 0;
}

#test{
  display: none;
}